SPRING_PROFILES_ACTIVE=dev

# keycloak
KEYCLOAK_CLIENT_ID=fortunatishomes
KEYCLOAK_CLIENT_SECRET=SNq14c2G8fkq8jSWf8ZHCYjlC5ouGzjO
KEYCLOAK_REALM_NAME=fortunatishomes
KEYCLOAK_BASE_URI=http://localhost:8080
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/fortunatishomes

# redis
REDIS_HOST=localhost
REDIS_PORT=6379

# user-service
USER_SERVICE_PORT=8183
USER_SERVICE_DATABASE_URL=jdbc:postgresql://localhost:5432/user-service
USER_SERVICE_DATABASE_USERNAME=root
USER_SERVICE_DATABASE_PASSWORD=root
USER_SERVICE_KEYCLOAK_CLIENT_ID=user-api
USER_SERVICE_KEYCLOAK_CLIENT_SECRET=**********

# email-service
EMAIL_SERVICE_PORT=8184
EMAIL_SERVICE_DATABASE_URL=jdbc:mysql://localhost:3306/email-service
EMAIL_SERVICE_DATABASE_USERNAME=root
EMAIL_SERVICE_DATABASE_PASSWORD=root
EMAIL_SERVICE_KEYCLOAK_CLIENT_ID=email-api
EMAIL_SERVICE_KEYCLOAK_CLIENT_SECRET=**********

# static-service
STATIC_SERVICE_PORT=8181
STATIC_SERVICE_DATABASE_URL=jdbc:postgresql://localhost:5432/static-data-service
STATIC_SERVICE_DATABASE_USERNAME=root
STATIC_SERVICE_DATABASE_PASSWORD=root
STATIC_SERVICE_KEYCLOAK_CLIENT_ID=static-api
STATIC_SERVICE_KEYCLOAK_CLIENT_SECRET=**********

# estate-service
ESTATE_SERVICE_PORT=8182
ESTATE_SERVICE_DATABASE_URL=jdbc:postgresql://localhost:5432/estate-service
ESTATE_SERVICE_DATABASE_USERNAME=root
ESTATE_SERVICE_DATABASE_PASSWORD=root
ESTATE_SERVICE_KEYCLOAK_CLIENT_ID=estate-api
ESTATE_SERVICE_KEYCLOAK_CLIENT_SECRET=**********

# URL
USER_SERVICE_URL=http://localhost:${USER_SERVICE_PORT}/api/v1
STATIC_SERVICE_URL=http://localhost:${STATIC_SERVICE_PORT}
ESTATE_SERVICE_URL=http://localhost:${ESTATE_SERVICE_PORT}
EMAIL_SERVICE_URL=http://localhost:${EMAIL_SERVICE_PORT}

# AWS
S3_BUCKET_NAME=
S3_REGION=us-east-1
S3_ACCESS_KEY=
S3_SECRET_KEY=
