NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dwi7o19nn
CLOUDINARY_API_KEY=549144472596919
CLOUDINARY_API_SECRET=AnNiPOszr1R0YCelomUmi9IyuBM
CLOUDINARY_FOLDER=test
NEXT_PUBLIC_GOOGLE_API_KEY=AIzaSyD2csbl5wQ9j6KZdk9108sLRMtUk9zQW-Q
NEXT_KEYCLOAK_URL=http://localhost:8080
NEXT_KEYCLOAK_REALM=fortunatishomes
NEXT_KEYCLOAK_CLIENT_ID=client-ui
NEXT_KEYCLOAK_CLIENT_SECRET=**********
NEXT_KEYCLOAK_ISSUER=http://localhost:8080/realms/fortunatishomes
NEXT_AUTH_REDIRECT_URL=http://localhost:3000/redirect-after-login
NEXTAUTH_SECRET=secret-key-123
NEXT_PUBLIC_API_GATEWAY_URL=http://127.0.0.1:8000
NEXT_PUBLIC_API_AXIOS_URL=http://localhost:8000
NEXT_PUBLIC_ESTATE_SERVICE_PREFIX=estate-api
NEXT_PUBLIC_STATIC_SERVICE_PREFIX=static-api
NEXT_PUBLIC_USER_SERVICE_PREFIX=user-api
NEXT_PUBLIC_CLIENT_UI_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51MLhApA4Ym4lDK6RWA7siJ1Zni3m50OU4b14jgp9TBg9AzjNuhjPSlhcK1c8wlmclmwf4PbY10cB5UW11kR71caI008kn8A16w
